*{
    background-color: transparent;
}
.swiper-container {
      width: 100%;
      height: 60vh;
      min-height: 400px;
      margin: 20px 0 40px;
    }
    .swiper-slide {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      border-radius: 8px;
    }
    @media (max-width: 768px) {
      .swiper-container {
        height: 40vh;
      }
    }